.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: fit-content;
  margin-top: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.form_wrapper_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 20px;
  background-color: #cccccc;
}

.form_wrapper_inner input {
  margin-left: 10px;
  margin-right: 10px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: fit-content;
  color: red;
  padding: 15px 30px;
}
