@font-face {
  font-family: "Lineyka";
  font-style: normal;
  font-weight: 400;
  src: local("Lineyka"), url("/fonts/Lineyka.otf") format("woff");
}

@font-face {
  font-family: Manrope;
  font-weight: 100 400;
  font-display: auto;
  src: local("Manrope-Medium"),
    url("/fonts/Manrope-Medium.woff2") format("woff2");
}

:root {
  --customheight: 10vh;
  --back-color: #372f6a;
  --text-color: #e7e8f3;
  --highlighted-color: #ff6600;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: var(--back-color);
}

.leaflet-tile-pane {
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}
