.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
  cursor: pointer;
  overflow: auto;
}

.image_wrapper {
  max-height: 250px;
  overflow: hidden;
}

.image_wrapper img {
  width: 100%;
  height: auto;
}

.card_regular {
  border: 4px solid var(--back-color);
}

.card_highlighted {
  border: 4px solid var(--highlighted-color);
}

.card_bleary {
  opacity: 0.3;
}

.description {
  max-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

/****** mobile *****/

@media (orientation: portrait) {
  .card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 40vw;
    cursor: pointer;
    margin-bottom: 5px;
    overflow: auto;
  }

  .card_regular {
    border: 4px solid var(--text-color); /*#f2f2f2;*/
  }

  .image_wrapper {
    width: 100%;
    height: 10vh;
    overflow: hidden;
  }
  .description {
    max-height: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #696969;
  }
}
